* {
  margin: 0;
  padding: 0;
}

.cardsP {
  position: relative;
  width: 250px;
  height: 335px;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border: 0.3px solid;
  border-bottom: 4px solid;
  border-left: 2px solid;
}
